page-cadastro {
    /* Vars */
        /* background */
        $bg-color-primary : #1a237e;
        $bg-color-second  : #303f9f;
        $bg-color-third   : #3f51b5;
    /* /Vars */

    /* Card */
    .card-cadastro{
        margin-top: 4rem;
    }
    
    button {
        text-transform: capitalize !important;
        padding: 0 !important;
        font-size: 14px !important;
    }
    
/* /card */
}
