    /* Toast */
    ion-toast.error .toast-wrapper {
        background: rgba(247, 59, 59, 0.95) !important;
    }
    ion-toast.error .toast-wrapper button {
        background-color: transparent;
    }
    /* /Toast */

page-cadastro {
    /* Vars */
        /* background */
        $bg-color-primary : #1a237e;
        $bg-color-second  : #303f9f;
        $bg-color-third   : #3f51b5;
    /* /Vars */

    /* Geral */

    label, input, .input-field label.active {
        font-size: 14px !important; 
        height:26px !important;
    }

    /* /Geral */

    /* Card */
    .card-cadastro{
        margin-top: 4rem;
    }
    
    button {
        text-transform: capitalize !important;
        padding: 0 !important;
        font-size: 14px !important;
    }    
    /* /Card */

}
