<!--
  Generated template for the RegistroReclamacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nova Reclamação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider color="light">Estabelecimento</ion-item-divider>
    <ion-item>
      <ion-select [(ngModel)]="reclamacao.estabelecimento" (ionChange)="carregarCampo($event);">
        <ion-option selected disabled>Selecione um estabelecimento</ion-option>
        <ion-option *ngFor="let x of estabelecimentos" [value]="x.uid">{{x.estabelecimento}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="reclamacao.estabelecimento">
    <ion-item-divider color="light">Reclamação</ion-item-divider>
    <ion-item>
      <ion-select [(ngModel)]="reclamacao.tipo" (ionChange)="carregarCampo($event);">
        <ion-option selected disabled>Selecione o tipo de reclamação</ion-option>
        <ion-option *ngFor="let x of reclamacoes" [value]="x.uid" [selected]="x.uid == 0">{{x.reclamacao}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="reclamacao.data">
    <ion-item-divider color="light">Dados da Reclamação</ion-item-divider>
    <ion-item>
      <button name='btn-dados' class='col s12 btn btn waves-effect indigo' (click)="abrirDados()">Editar dados</button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="reclamacao.data">
    <ion-item-divider color="light">Descrição</ion-item-divider>
    <ion-item>
      <ion-textarea placeholder="Descrição da reclamação" [(ngModel)]="reclamacao.descricao"></ion-textarea>
    </ion-item>
  </ion-list>

  <div class='row' *ngIf="reclamacao.descricao">
    <div class='col'>
      <button name='btn-reclamacao' class='col s12 btn btn waves-effect indigo' (click)="escolherAnexo()">Adicionar anexo</button>
    </div>
  </div>

  <div class='row' *ngIf="reclamacao.descricao">
    <div class='col'>
      <button type='submit' name='btn-reclamacao' class='col s12 btn btn waves-effect indigo' (click)="confirmarReclamacao()">Salvar reclamação</button>
    </div>
  </div>
</ion-content>